<a rel="me" href="https://chaos.social/@chris"></a>

{{ if .IsPage }}
{{ if eq .Type "post" }}
<script type="application/ld+json">
{"@context" : "http://schema.org",
"@type" : "BlogPosting",
"author": [
{
"@context" : "http://schema.org",
"@type": "Person",
"name": "Chris Barry"
}],
"publisher": [
{
"@context" : "http://schema.org",
"@type": "Person",
"name": "Chris Barry"
}],
"datePublished": "{{ .Date.Format "2006-01-02T15:04:05-0700" | safeHTML }}",
"license": "https://barry.im/about/",
"inLanguage" : "en-US",
"name" : "{{ .Title }}",
"headline" : "{{ .Title }}",
"wordCount": "{{ .WordCount }}"
}
</script>
{{ end }}
{{ end }}
